[Desktop Entry]
Name=PretzelAI
Comment=Run PretzelAI
Exec=pretzel-lab %f
Terminal=true
Type=Application
Icon=pretzelai
StartupNotify=true
MimeType=application/x-ipynb+json;
Categories=Development;Education;
Keywords=python;
